package afas

import (
	"time"
)

{{range .}}
// {{.Comment}}
type {{.Name}} struct {
	{{range .Fields}} {{.Name}} {{.Type}} {{if .Tags}}`{{.Tags}}`{{end}} // {{.Comment}}
	{{end}}
}
{{end}}

// vim: ft=gotexttmpl noet
