package afas

import (
    "github.com/aodin/date"
)

{{range .}}
// {{.Comment}}
type {{.Name}} struct {
    {{range .Fields}} {{.Name}} {{.Type}} {{if .Tags}}`{{.Tags}}`{{end}} // {{.Comment}}
    {{end}}
}
{{end}}

// vim: ft=gotexttmpl noet
